.pagination_container {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.pagination_item {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    color: black;
    font-size: 32px;
    font-weight: 510;
    word-wrap: break-word;
    cursor: pointer;
}

.pagination_item_active {
    height: 70px;
    width: 70px;
}
